In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [25]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [26]:
df = pd.read_csv('/content/drive/MyDrive/data_test_lab3.csv')
df.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [28]:
# 2.2. Tìm trong DataFrame những dữ liệu bị thiếu
missing_data = df.isnull()
print("Các giá trị bị thiếu:\n", missing_data)

# 2.3. Xem cột NUM_BEDROOMS và tìm những giá trị NaN
nan_bedrooms = df[df["NUM_BEDROOMS"].isnull()]
print("\nCác hàng có NUM_BEDROOMS là NaN:\n", nan_bedrooms)

# 2.4. Tổng giá trị còn thiếu trong toàn bộ DataFrame
total_missing = df.isnull().sum().sum()
print("\nTổng số giá trị bị thiếu trong toàn bộ DataFrame:", total_missing)

# 2.5. Điền giá trị 126 vào các ô bị thiếu trong cột “ST_NUM”
df["ST_NUM"].fillna(126, inplace=True)

Các giá trị bị thiếu:
      PID  ST_NUM  ST_NAME  OWN_OCCUPIED  NUM_BEDROOMS  NUM_BATH  SQ_FT
0  False   False    False         False         False     False  False
1  False   False    False         False         False     False  False
2  False   False    False         False          True     False  False
3  False   False    False         False         False      True  False
4   True   False    False         False         False     False  False
5  False   False    False         False          True     False  False
6  False   False    False          True         False     False  False
7  False   False    False         False         False     False   True
8  False   False    False         False         False     False  False

Các hàng có NUM_BEDROOMS là NaN:
            PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
2  100003000.0   126.0  LEXINGTON            N          NaN        1   850
5  100006000.0   207.0   BERKELEY            Y          NaN        1   800

Tổng số giá trị bị thiếu trong toàn bộ DataFrame: 6

/tmp/ipython-input-28-3665572170.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ST_NUM"].fillna(126, inplace=True)

In [30]:
# Chuyển cột NUM_BEDROOMS về kiểu số, các giá trị không chuyển được sẽ thành NaN
df["NUM_BEDROOMS"] = pd.to_numeric(df["NUM_BEDROOMS"], errors="coerce")

# Sau đó tính median và điền vào các ô thiếu
median_bedrooms = df["NUM_BEDROOMS"].median()
df["NUM_BEDROOMS"].fillna(median_bedrooms, inplace=True)

# In kết quả kiểm tra
print("Giá trị trung vị của NUM_BEDROOMS là:", median_bedrooms)
print(df["NUM_BEDROOMS"])

Giá trị trung vị của NUM_BEDROOMS là: 2.5
0    3.0
1    3.0
2    2.5
3    1.0
4    3.0
5    2.5
6    2.0
7    1.0
8    2.5
Name: NUM_BEDROOMS, dtype: float64

/tmp/ipython-input-30-4107716049.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["NUM_BEDROOMS"].fillna(median_bedrooms, inplace=True)

In [31]:
# 2.5. Điền giá trị 126 vào các ô bị thiếu trong cột “ST_NUM”
df["ST_NUM"].fillna(126, inplace=True)

# 2.6. Thay thế các giá trị thiếu trong cột “NUM_BEDROOMS” bằng trung vị (median)
median_bedrooms = df["NUM_BEDROOMS"].median()
df["NUM_BEDROOMS"].fillna(median_bedrooms, inplace=True)

# In ra 5 dòng đầu tiên của DataFrame sau khi xử lý
print("\nDữ liệu sau khi xử lý missing values:")
print(df.head())

Dữ liệu sau khi xử lý missing values:
           PID  ST_NUM    ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y           3.0        1  1000
1  100002000.0   197.0  LEXINGTON            N           3.0      1.5    --
2  100003000.0   126.0  LEXINGTON            N           2.5        1   850
3  100004000.0   201.0   BERKELEY           12           1.0      NaN   700
4          NaN   203.0   BERKELEY            Y           3.0        2  1600

/tmp/ipython-input-31-3594088806.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ST_NUM"].fillna(126, inplace=True)
/tmp/ipython-input-31-3594088806.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["NUM_BEDROOMS"].fillna(median_bedrooms, inplace=True)